*
{
    box-sizing: border-box;
}

body
{
    background-color: #27415c;
    margin:0px;
    padding:0px;
    width:100%;
}
#description
{
    border-radius: 5px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    height: 435px;
    width: 810px;
    padding: 10px;
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 15px;
}
#back
{
    position: absolute;
    backface-visibility: hidden;
}
#face
{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
/*
#card:hover
{
    transform: rotateY(180deg);
    transition-duration: 2s;
}*/
#card
{
    position: relative;
    float: right;
    margin-right: 60px;
    margin-top: 50px;
    width: 400px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.login-screen
{
    border-radius: 5px;
    margin: auto;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title
{
    text-align: center;
    color: #777;
}

.form
{
    text-align: center;
}
.control
{
    margin-bottom: 10px;
}

input
{
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 350px;
    transition: border .5s;
}
#birthday
{
    padding-left: 33%;
    color:#a9a9a9;
    font-weight: lighter;
}
input:focus {
    border: 2px solid #2980b9;
    box-shadow: none;
}

.btn
{
    border: 2px solid transparent;
    background: #2980b9;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    width: 250px;
    margin: 5px auto;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}
.error
{
    color: red;
    font-size: 12px;
}

