*
{
    box-sizing: border-box;
}

body
{
    background-color: #e6ecf0;
    margin:0px;
    padding:0px;
    width:100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
#bar
{
    z-index: 1;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    height: 50px;
    width: 100%;
    display: flex;
    padding-left: 40px;
    position: sticky;
    top: 0;
}
.barButton
{
    cursor: pointer;
    width: 100px;
    height: inherit;
    text-align: center;
    padding-top: 15px;
    border-bottom: 4px #1b95e0 solid;
    margin-right: 40px;

}
.barTitle
{
    width: 400px;
    height: inherit;
    text-align: center;
    padding-top: 10px;
    color: #1b95e0;
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
}
.barButton:hover
{
    color: #FFFFFF;
    background-color: #1b95e0;
    transition-duration: 0.5s;
}
.search
{
    margin-top: 20%;
    height: 60%;
    border-radius: 100px;
    border: 1px #ddd solid;
    background-color: #f5f8fa;
    padding-left: 10px;
    margin-right: 10px;
}
.search:focus
{
    transition-duration: 0.5s;
    background-color: #FFFFFF;
    border: 1px #1b95e0 solid;
}

.leftSideContainer, .rightSideContainer
{
    height: auto;
    float: left;
    width: 20%;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    margin-top: 20px;
}
.rightSideContainer
{
    float: right;
    margin-left: auto;
    margin-right: 40px;
}
.sideNav
{
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: white;
    margin-bottom: 20px;
}
.suggest:hover
{
    background-color: #e8f5fd;
    transition-duration: 0.3s;
}
.suggest, .followSuggest
{
    cursor: pointer;
    display: flex;
    padding: 10px;
    border-bottom: 1px #e6ecf0 solid;
    color:#1b95e0;
}
.followSuggest
{
    cursor: auto;
    background-color: #1b95e0;
    font-weight: normal;
    color: white;

}
.suggest .image
{
    height: 50px;
    border-radius: 50%;
    width:20%;
    margin-top: 0px;
    margin-left: 5px;
}
.suggest .name
{
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
}

#postsNum, #followersNum, #FollowingNum
{
    border-bottom: 1px #e6ecf0 solid;
    width: 100%;
    color: #787786;
    font-size: 14px;
    margin-right: 10px;
    padding: 10px;

}
#profileImage
{
    background-color: #1b95e0;
    color: #FFFFFF;
    width: auto;
    height: 100px;
    display: flex;
    justify-items: auto;
}
#profileName
{
    text-align: center;
    margin-top: 40%;
    margin-left: 10%;
}
.image
{
    margin-top: 10px;
    width: 25%;
    height: 70%;
    background-size: contain;
    margin-left: 10px;
    border-radius: 50%;
}
#nordsnetwork
{
    display: inline;
    float: left;
    margin-top: 2px;
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
    margin-left: 15px;

}
.users
{
    margin-top: 20px;
    float: right;
    width: 20%;
    margin-right: 20px;
    z-index: 1;
    height: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 1px 30px rgba(0,0,0,.4);
    text-align: center;
}
#container
{
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
    display: inline-block;
    width: 48%;
}

.splitter
{
    width: 95%;
    height: 1px;
    border: 1px #cccccc solid;
    margin: 10px auto;
}
.hsplitter
{
    width: 1px;
    height: inherit;
    border: 1px darkslategray solid;
}
#name
{
    color: white;
    font-size: 20px;
}

/*Make Post*/
#edit
{
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-bottom: 1px #e6ecf0 solid;
    overflow: visible;
    word-wrap: break-word;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}
.posImageContainer
{
    border-bottom: 1px #e6ecf0 solid;
    max-height: fit-content;
    width: inherit;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.postImage
{
    width: inherit;
}
.bar
{
    height: 60px;
}
.imageHolder
{
    height: 50px;
    margin: 10px;
    width: 50px;
    background-size: contain;
    border-radius: 50%;
    float: left;
}
.timelineImage
{
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
.user
{
    float: left;
    text-align: center;
    font-weight: normal;
    margin-left: 5px;
    padding-top: 20px;
}
.name
{
    text-align: center;
    margin-bottom: 2px;
}
.date
{
    text-align: left;
    font-size: 12px;
}
.textHolder
{
    clear: both;
    height: 100%;
    width: inherit;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
.text
{
    border: 1px #dddddd solid;
    overflow: auto;
    clear: both;
    min-height: 40px;
    height: min-content;
    word-wrap: break-word;
    margin: 10px;
    outline: none;
}

#postIt, #uploadImage
{
    width: 80px;
    height: 35px;
    padding: 6px 16px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#uploadImage
{
    width: 120px;
    margin-left: 10px;
}
.commentIt
{
    float: right;
    height: inherit;
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
}

.editComment .textHolder .text
{
    display: inline-block;
    height: auto;
    width: 75%;
}

#timeline
{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.post
{
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    width: 100%;
}
.bottomBar
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: auto;

    border-bottom: 1px #e6ecf0 solid;
}
input[type="file"]
{
    display: none;
}
button, #uploadImage
{
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    background-color: #1b95e0;
    border:0;
    font-weight: bold;
    color: white;
    border-radius: 100px;
}
.options
{
    margin: 20px;
    padding: 10px;
    width: -moz-available;
}
.like
{
    width: 80px;
    margin-bottom: 10px;
    border: none;
    height: 35px;
    margin-left: 15px;
}
.editComment
{
    width: 96%;
    overflow: hidden;
}
.editComment , .comment
{
    border-radius: 4px;
    width: inherit;
    height: auto;
    border-bottom: 2px #e6ecf0 solid;
}

.editComment .text
{
    min-height: 34px;
    width: 70%;
}
.comment .textHolder
{
    padding-bottom: 5px;
    padding-left: 5px;
}
.commentIt
{
    overflow: hidden;
    word-wrap: normal;
    width: 15%;
    padding: 10px;
}
.post .textHolder
{
    padding-top: 5px;
    padding-left: 5px;
}
.counters
{
    color: darkgrey;
    margin-top: 5px;
    font-size: 13px;
    margin-right: 10px;
    text-align: center;
    float: right;
}
mark
{
    color: #1b95e0;
    text-decoration: underline;
    text-underline-color: #1b95e0;
    background: none;
}

@media screen and (max-width: 992px)
{
    .barTitle
    {
        font-size: 20px;
    }
}
