*
{
    box-sizing: border-box;
}

body
{
    background-color: #27415c;
    margin:0px;
    padding:0px;
    width:100%;
    height: 100%;
}
.sidenav
{
    float: left;
    width: 18%;
    z-index: 1;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
#bar
{
    overflow: auto;
    background-color: #27415c;
    height: 60px;
    width: 100%;
    padding: 5px;

}
#nordsnetwork
{
    display: inline;
    float: left;
    margin-top: 2px;
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
    margin-left: 15px;

}
.users
{
    margin-top: 20px;
    float: right;
    width: 20%;
    margin-right: 20px;
    z-index: 1;
    height: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 1px 30px rgba(0,0,0,.4);
    border-radius: 5px;
    text-align: center;
}
#container
{
    margin: 20px 60px;
    display: inline-block;
    width: 50%;
}
#profileImage
{
    border-radius: 5px 5px 0px 0px;
    width: auto;
    height: 250px;
    margin: 0 auto;
    padding-top: 10px;
}
#image
{
    width: 180px;
    height: 180px;
    background-image: url("../img/profile.png");
    background-size: contain;
    margin: 10px auto;
    border-radius: 50%;
}
.splitter
{
    width: 95%;
    height: 1px;
    border: 1px #cccccc solid;
    margin: 10px auto;
}
.hsplitter
{
    width: 1px;
    height: inherit;
    border: 1px darkslategray solid;
}
#name
{
    color: white;
    font-size: 20px;
}

/*Make Post*/
#edit
{
    overflow: auto;

    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bar
{
    height: 60px;
}
.imageHolder
{
    height: 50px;
    margin: 10px;
    width: 50px;
    background-image:url("../img/profile.png");
    background-size: contain;
    border-radius: 50%;
    float: left;
}
.user
{
    float: left;
    text-align: center;
    font-weight: normal;
    margin-left: 5px;
    padding-top: 20px;
}
.name
{
    text-align: center;
    margin-bottom: 2px;
}
.date
{
    text-align: left;
    font-size: 12px;
}
.textHolder
{
    clear: both;
    height: 100%;
    width: 98%;
    word-wrap: break-word;
    margin: 10px;
    padding-bottom: 5px;
}
.text
{
    overflow: auto;
    width: inherit;
    height: 80px;
    resize: none;
    border: 1px #ddd solid;
    border-radius: 4px;
    word-wrap: break-word;
    margin:5px;
}

#postIt
{
    float: right;
    height: 35px;
    width: 20%;
    margin-right: 10px;
}
.commentIt
{
    float: right;
    height: inherit;
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
}

.editComment .textHolder .text
{
    display: inline-block;
    height: auto;
    width: 75%;
}
.commentIt
{
    padding: 10px;
}
#timeline
{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.post
{

    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 0 1px 30px rgba(0,0,0,.4);
}
.bottomBar
{
    margin-left: 15px;
    margin-bottom: 20px;
    height: 25px;
}
button
{
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    background-color: #2980b9;
    border:0px;
    color: white;
    border-radius: 5px;
}
.options
{
    margin: 20px;
    padding: 10px;
    width: -moz-available;
}
.like
{
    border: none;
    height: 35px;
    width: 150px;
}

.editComment , .comment
{
    border-radius: 4px;
    width: inherit;
    height: auto;
    background-color: #dddddd;
}
.editComment .text
{
    height: 35px;
    width: 75%;
}
.comment .textHolder
{
    padding-bottom: 5px;
}
.likeCounter
{
    color: darkgrey;
    margin-top: 5px;
    font-size: 13px;
    margin-right: 10px;
    text-align: center;
    float: right;
}
